@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

.gradient(@color-from, @color-to) {
    background: @color-from;
    background: -moz-linear-gradient(top, @color-from 0%, @color-to 100%);
    background: -webkit-linear-gradient(top, @color-from 0%, @color-to 100%);
    background: linear-gradient(to bottom, @color-from 0%, @color-to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color-from}', endColorstr='@{color-to}',GradientType=0);
}

@color-top-background: #86c5c5;
@color-top-border: #75abac;
@color-top-text: #1e592f;

@font-family-main: 'Roboto', sans-serif;

@large-devices: ~"all and (max-width: 1499px)";
@middle-devices: ~"all and (max-width: 1149px)";
@small-devices: ~"all and (max-width: 767px)";
@extra-small-devices: ~"all and (max-width: 460px)";

html {
    position: relative;
    min-height: 100%;
}

body {
    min-width: 320px;
    margin-bottom: 330px;
    
    @media @middle-devices {
        margin-bottom: 0;
    }
    
    @media @small-devices {
        margin-bottom: 65px;
    }
}

body > header {
    position: relative;
    height: 210px;
    background: url('../img/grass.png') 0 76% repeat-x;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    
    @media @small-devices {
        height: 0;
        padding-top: 27.34375%;
        background: none;
    }
    
    @media all and (max-width: 520px) {
        padding-top: 150px;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        .gradient(#8acbcd, #fff);
        z-index: -1;
    }
    
    .logo {
        position: absolute;
        top: 35px;
        left: 23px;
        height: 83px;
        transition: all 0.3s ease-in-out;
        
        @media @small-devices {
            width: 31.4159292%;
        }
        
        @media @extra-small-devices {
            top: 50px;
        }
        
        img {
            transition: inherit;
            
            @media @small-devices {
                width: 100%;
            }
        }
    }
    
    .information {
        position: absolute;
        display: table;
        height: 20px;
        line-height: 20px;
        top: 0;
        width: 100%;
        background: @color-top-background;
        border-bottom: 1px solid @color-top-border;
        
        p {
            @media @extra-small-devices {
                display: block;
            }
            
            display: table-cell;
            margin: 0;
            font-size: 13px;
            font-style: italic;
            color: @color-top-text;
            text-align: center;
            border-right: 1px solid @color-top-border;
            
            &:nth-child(2), &:nth-child(3) {
                @media @small-devices {
                    display: none;
                }
            }
            
            &:last-of-type {
                display: none;
                
                @media @small-devices {
                    display: block;
                }  
            }
        }
    }
    
    .search {
        @search-radius: 5px;
        
        position: relative;
        margin: 60px 940px 0 340px;
        
        @media @large-devices {
            margin-right: 680px;
        }
        
        @media @middle-devices {
            margin: 85px 335px 0 300px;
        }
        
        @media @small-devices {
            opacity: 0;
        }

        input {
            border: none;
            
            &[type=text] {
                width: 100%;
                height: 20px;
                padding: 10px 10px 10px 45px;
                border-top-left-radius: @search-radius;
                border-bottom-left-radius: @search-radius;
                background: #F4F2F2 url('../img/icon-search.png') 11px 8px no-repeat;
                
                .search-placeholder() {
                    font-style: italic;
                    line-height: 20px;
                    transition: line-height 0.5s ease;
                }
                
                .search-focus-placeholder() {
                    line-height: 100px;
                    transition: line-height 0.5s ease;
                }
                
                &::-webkit-input-placeholder {
                    .search-placeholder;
                }

                &::-moz-placeholder {
                    .search-placeholder;
                }

                &:-moz-placeholder {
                    .search-placeholder;
                }

                &:-ms-input-placeholder {
                    .search-placeholder;
                }
                
                &:focus::-webkit-input-placeholder {
                    .search-focus-placeholder;
                }

                &:focus::-moz-placeholder {
                    .search-focus-placeholder;
                }

                &:focus:-moz-placeholder {
                    .search-focus-placeholder;
                }

                &:focus:-ms-input-placeholder {
                    .search-focus-placeholder;
                }
            }

            &[type=submit] {
                position: absolute;
                width: 100px;
                height: 40px;
                top: 0;
                right: -155px;
                border-top-right-radius: @search-radius;
                border-bottom-right-radius: @search-radius;
                .gradient(#71ac45, #669748);
                border: 1px solid #6ba047;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
                color: #fff;
            }
        }
    }
    
    .contacts {
        top: 45px;
        left: 700px;
        float: right;
        height: 80px;
        margin: 45px 40px 0 0;
        padding-left: 45px;
        background: url('../img/icon-phone.png') left 2px no-repeat;
        font-family: @font-family-main;
        transition: all 0.3s ease-in-out;
        
        @media @middle-devices {
            position: absolute;
            margin: 0;
            top: 32px;
            left: 300px;
        }
        
        @media @small-devices {
            left: 44.2477876%;
        }
        
        @media @extra-small-devices {
            top: 52px;
        }

        p {
            margin: 0;
            font-size: 20px;
            color: #404040;
            transition: all 0.1s ease-in-out;
            
            @media @middle-devices {
                display: inline-block;
                padding-right: 15px;
            }
            
            @media @small-devices {
                display: block;
                font-size: 26px;
            }
            
            @media @extra-small-devices {
                font-size: 16px;
            }
            
            &:nth-child(1),&:nth-child(2) {
                @media @middle-devices {
                    letter-spacing: -0.6px;
                }
            }
            
            &:last-of-type {
                margin-top: 5px;
                font-size: 14px;
                
                @media @middle-devices {
                    display: block;
                }
                
                @media @small-devices {
                    opacity: 0;
                }
            }
        }
    }
    
    .header-button-style() {
        float: right;
        width: 135px;
        height: 35px;
        margin: 50px 10px 0 0;
        padding: 5px 5px 5px 50px;
        font-family: @font-family-main;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #6d6d6d;
        border: 5px outset;
        border-color: #cceeef #add5d3;
        overflow: hidden;
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .cabinet-enter-button {
        background: url('../img/icon-cabinet.png') 5px center no-repeat;
        
        @media @large-devices {
            width: 0;
            font-size: 0;
            padding-left: 45px;
        }
        
        @media @small-devices {
            opacity: 0;
        }
        
        .header-button-style;
    }
    
    .cart-open-button {
        background: url('../img/icon-cart.png') 5px center no-repeat;
        
        @media @large-devices {
            width: 0;
            font-size: 0;
            padding-left: 45px;
        }
        
        @media @small-devices {
            opacity: 0;
        }
        
        .header-button-style;
        
        span {
            display: block;
            font-size: 13px;
            text-transform: none;
            
            @media @large-devices {
                font-size: 0;
            }
        }
    }
    
    nav {
        position: absolute;
        bottom: 0;
        height: 48px;
        width: 100%;
        .gradient(#71a560, #79b328);
        overflow: hidden;
        
        @media @small-devices {
            width: 200px;
            left: -200px;
        }
        
        a {
            display: block;
            float: left;
            padding: 0 15px;
            line-height: 48px;
            font-size: 15px;
            color: #fff;
            font-family: @font-family-main;
            text-transform: uppercase;
            text-decoration: none;
            border-right: 1px solid #b7de95;
        }
        
        & > a {
            &:first-of-type {
                text-indent: 40px;
                width: 20px;
                overflow: hidden;
                background: url('../img/icon-home.png') center 12px no-repeat;
            }
        }
        
        .wrapper {
            display: none;
            position: fixed;
            top: 220px;
            right: 10px;
            width: 210px;
            border: 1px solid #999;
            background: #fff;
            z-index: 1;
            
            a {
                float: none;
                padding: 10px;
                border: 0;
                line-height: 18px;
                color: #336666;
                border-bottom: 1px solid #ccc;
            }
        }
        
        .additional-menu-button {
            background: url('../img/icon-more.png') center no-repeat;
            height: 100%;
        }
    }
    
    .mobile-bar {
        opacity: 0;
        position: absolute;
        bottom: 0;
        height: 48px;
        width: 100%;
        .gradient(#71a560, #79b328);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        
        @media @small-devices {
            opacity: 1;
        }
        
        a {
            display: block;
            float: left;
            margin: 5px 0 0 10px;
            width: 44px;
            height: 36px;
            border: 1px solid #aecd9e;
            border-radius: 3px;
            background: url('../img/menu.png') no-repeat center center / 65% auto;
        }
        
        form {
            margin: 0 25px 0 65px;
        }
        
        input {
            width: 100%;
            margin-top: 7px;
            padding: 7px;
            border: 1px solid #fff;
            border-radius: 3px;
            font-style: italic;
        }
    }
}

.mobile-panel {
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    border-top: 1px solid #59824b;
    .gradient(#72a55f, #7daf35);
    font-family: @font-family-main;
    text-transform: lowercase;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
        
    @media @small-devices {
        opacity: 1;
    }
    
    a {
        display: table-cell;
        height: 20px;
        width: 33%;
        padding-top: 8%;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: #535353;
        
        @media @extra-small-devices {
            padding-top: 38.4px;
        }
        
        &:first-of-type ~ a {
            border-left: 1px solid #92c264;
        }
        
        &:first-of-type {
            background: url('../img/mobile-icon-call.png') no-repeat center 10px;
            background-size: 23%;
            
            @media @extra-small-devices {
                background-size: 35px;
            }
        }
        
        &:nth-child(2) {
            background: url('../img/mobile-icon-enter.png') no-repeat center 10px;
            background-size: 24%;
            
            @media @extra-small-devices {
                background-size: 35px;
            }
        }
        
        &:last-of-type {
            background: url('../img/mobile-icon-cart.png') no-repeat center 10px;
            background-size: 25%;
            
            @media @extra-small-devices {
                background-size: 35px;
            }
        }
    }
}

body > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    overflow: hidden;
    
    @media @middle-devices {
        position: relative;
        height: auto;
    }
    
    section {
        float: left;
        width: 350px;
        padding-left: 25px;
        
        @media @small-devices {
            width: 100%;
        }
        
        h3 {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: normal;
            color: #444;
        }
        
        nav a {
            color: #336633;
            display: block;
            margin-bottom: 5px;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
        
        p {
            color: #444;
        }
    }
    
    .copyright {
        clear: both;
        width: auto;
        font-size: 0.9em;
    }
}

/* After all styles applied */
.search {
    transition: all 0.3s ease-in-out;
}